<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="shoppingListStorage" 
				 connectionString="DefaultEndpointsProtocol=https;AccountName=epmstorage;AccountKey=+aNLTG3NfbE8FybgpKGV6GZV4jHw9A/CZWu9mxj8MSdTOp0hdJXu0YHw3PeGpjF3SJPvSQXBiUM+RK8adN6Xxw==" 
				 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>