@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Shopping List", "Index", "ShoppingList")</li>
</ul>